.edit__card {
  width: 100%;
  background-color: var(--whiteColor);
  box-shadow: var(--boxShadow);
  border-radius: 10px;
  padding: 24px;
  margin-bottom: 32px;

  .card-head {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 32px;
    @media (max-width: 640px) {
      flex-wrap: wrap;
     }

     .info {
      display: flex;
      justify-content: start;
      align-items: center;
      flex-wrap: wrap;
      gap: 24px;
      .card-img {
        min-width: 80px;
        width: 100px;
        img {
          min-width: 80px;
          width: 100px;
          height: auto;
        }
      }

      .head-title {
        margin-right: auto;

        h2 {
          @media (max-width: 768px) {
          font-size: 24px;
          font-weight: 500;
         }
       }

        .job {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          gap: 8px;
          font-style: normal;
          font-weight: 500;
          font-size: 16px;
          color: var(--grayColor);
          svg {
            width: 18px;
            height: auto;
          }
        }
      }
     }



    .head-option {
      display: flex;
      justify-self: center;
      align-items: center;
      gap: 12px;
      @media (max-width: 639px) {
        width: 100%;
       }
      .edit-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        padding: 9px 15px;
        @media (max-width: 639px) {
          width: 100%;
         }
      }
    }
  }

  .card-body {
    padding: 0;
    h4 {
      margin-bottom: 16px;
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
      color: var(--blueColor);
    }
  }
}
