#expert__page {
  padding-bottom: 90px;
  .expert {
    &__title {
      font-size: 22px;
      font-weight: 700;
    }
    &__items {

      .item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        text-align: center;
        gap: 12px;
        width: 100%;
        margin-top: 50px;
        img {
          border-radius: 50%;
          min-width: 120px;
          width: 120px;
          height: 120px;
          object-fit: cover;
        }
        h4 {
          font-weight: 700;
          font-size: 24px;
          margin-bottom: 8px;
        }

        h6 {
          font-weight: 500;
          font-size: 16px;
          color: var(--grayColor);
          margin-bottom: 16px;
        }
      }
    }
  }
}
