#categories__page {
  .categories__section {
    padding-bottom: 90px;
    .categories {
      &__title {
        margin-bottom: 48px;
      }

      &__head {
        gap: 24px;
        padding: 32px 24px;
        background-color: var(--lightGrayColor);
        border-radius: 15px;
        margin-bottom: 48px;

        .head__item {
          &-title {
            margin-bottom: 8px;
          }

          input {
            background-color: var(--whiteColor);
            padding: 10px 16px;
          }

          .Select-control .Select-input:focus {
            outline: none;
          }


          .select {
            max-width: 320px;

            &__control {
              border: none;

              &.--is-focused {
                  border: none;
              }
            }

            &__indicator-separator {
              display: none;
            }
          }
        }
      }
    }
  }
}
