.header__section {
  box-shadow: 0px 1px 0px rgba(137, 141, 166, 0.2);
}
.header__section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding-block: 24px;
}
@media (max-width: 400px) {
  .header__section .header {
    gap: 10px;
  }
}
.header__section .header__logo img {
  width: 200px;
}
.header__section .header > * {
  display: flex;
  justify-self: center;
  align-items: center;
  gap: 10px;
}
.header__section .header__info-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}
.header__section .header .input__field {
  max-width: 540px;
  width: 100%;
  position: relative;
}
.header__section .header .input__field input {
  width: 100%;
  border-radius: 8px;
  padding-block: 12px;
  padding-left: 48px;
  border: none;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  background-color: rgba(137, 141, 166, 0.08);
}
.header__section .header .input__field input::-moz-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}
.header__section .header .input__field input:-ms-input-placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}
.header__section .header .input__field input::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
}
.header__section .header .input__field svg {
  position: absolute;
  left: 21px;
}
.header__section .header .lang__btn {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}
.header__section .header .lang__link {
  background-color: #000;
}
.header__section .header .sign {
  margin-left: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
}
@media (max-width: 576px) {
  .header__section .header .sign {
    padding: 12px;
  }
}
.header__section .header .mobile__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}

.ant-modal .ant-modal-content {
  border-radius: 10px !important;
  padding: 32px 100px 42px;
}
@media (max-width: 768px) {
  .ant-modal .ant-modal-content {
    padding: 32px 20px 42px;
  }
}
.ant-modal .ant-modal-content h3 {
  color: var(--blueColor);
  text-align: center;
  margin-bottom: 32px;
}
.ant-modal .ant-modal-content .sign-up, .ant-modal .ant-modal-content .re-password {
  display: block;
  padding: 0;
  margin-top: 14px;
  background-color: var(--whiteColor);
  border: none;
  color: var(--greenColor);
}
.ant-modal .ant-modal-content .sign__modal-form {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
}
.ant-modal .ant-modal-content .sign__modal-form > label {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 100%;
  color: #898da6;
}
.ant-modal .ant-modal-content .sign__modal-form > input {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 100%;
  color: var(--blueColor);
}
.ant-modal .ant-modal-content .sign__modal-form > input[type=password] {
  letter-spacing: 5px;
  color: var(--grayColor);
}
.ant-modal .ant-modal-content .sign__modal-form .checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  line-height: 100%;
  color: #898da6;
  margin-bottom: 24px;
}
.ant-modal .ant-modal-content .sign__modal-form button {
  width: 100%;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
}/*# sourceMappingURL=Header.css.map */