#test__type {


  .test {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__question {
      width: 100%;
      &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        color: var(--grayColor);
        margin-bottom: 8px;
      }

    }
  }
  .add-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding-block: 12px;
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
  }
}
