#test__type {


  .test {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__question {
      width: 100%;
      &-title {
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 100%;
        color: var(--grayColor);
        margin-bottom: 8px;
      }

      .add-test {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        margin-left: 50px;

        .case-title {
          border: 1px solid var(--greenColor);
          width: 100%;
          padding-block: 8px;
        }
        .case-score {
          border: 1px solid var(--greenColor);
          max-width: 80px;
          width: 100%;
          padding-block: 8px;
        }


      }

    }
  }
  .add-question__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding-block: 12px;
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
  }

  .add-question__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    button {
      padding-block: 11px;
    }

    textarea {
      padding: 10px 16px;
    }
  }
}
