#videocourse__type {
  .videocourse {
    .form {
      max-width: calc(100% - 250px);

      input, textarea {
        margin-bottom: 24px;
      }
    }

    &__file-field {
      position: relative;
      .org-file {
        opacity: 0;
        z-index: 12345;
        input {
          width: 200px;
        }
      }
      .fake-file {
        position: absolute;
        top: 28px;
        left: 0;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 4px;
        background-color: var(--bgColor);
        padding: 16px;
        width: 200px;
        border-radius: 8px;
        svg {
          width: 16px;
          height: 16px;
        }

        h5 {
          font-style: normal;
          font-weight: 500;
          font-size: 14px;
          line-height: 100%;
        }
      }
    }

    &__quality-field {
      .video-checkbox {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;

        .ant-checkbox-wrapper {
          > span {
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            color: var(--blueColor);

            &:hover {
              border-color: red;
            }
          }
        }
      }
    }
  }
}
