.partner__section {
  padding-block: 72px;
  background-color: var(--lightGrayColor);
  .partner {
    &__info {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 57px;
      &-title {
        max-width: 737px;
        width: 100%;

        span {
          color: var(--greenColor);
        }
      }
    }

    &__link {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
}
