.partner__section {
  padding-block: 72px;
  .partner {
    &__info {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      margin-bottom: 57px;
      &-title {
        max-width: 737px;
        width: 100%;
      }
    }

    &__link {
      img {
        max-width: 270px;
        width: 100%;
      }
    }
  }
}
