.popular__section {
  padding-bottom: 90px;
  .popular {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__title {
      text-align: center;
      margin-bottom: 20px;
    }

    &__subtitle {
      text-align: center;
      margin-bottom: 30px;
    }

    .more {
      .all_course {
        padding: 15px 24px;
        margin-inline: auto;
        margin-top: 40px;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
      }
    }
  }
}
