.professor__section {
  padding-block: 80px;
  .professor {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    &__info {
      display: flex;
      align-items: center;
      flex-direction: column;
      text-align: center;
      &-title {
        font-weight: 700;
        font-size: 32px;
        line-height: 40px;
        margin-bottom: 14px;
      }

      &-subtitle {
        max-width: 768px;
        width: 100%;
      }
    }

    &__items {
      .item {
        padding: 48px 32px 32px 32px;
        position: relative;
        margin-top: 60px;
        border: 1px solid var(--lightGrayColor);
        border-radius: 15px;
        width: 100%;
        margin-bottom: 10px;
        img {
          top: -40px;
        }
        h4 {
          font-weight: 700;
          font-size: 24px;
          margin-bottom: 8px;
        }

        h6 {
          font-weight: 500;
          font-size: 16px;
          color: var(--grayColor);
          margin-bottom: 16px;
        }
      }
    }
    .more {
      width: max-content;
      margin-inline: auto;
      padding: 15px 24px;
      font-weight: 700;
      font-size: 18px;
      margin-top: 40px;
      margin-inline: auto;
    }
  }

}
