.footer__section {
  background-color: var(--footerColor);
  .footer {
    padding-top: 60px;
    .footer__items {
      .footer__logo {
        margin-bottom: 50px;
        img {
          max-width: 220px;
          width: 100%;
        }
      }

      .footer__item {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        flex-direction: column;
        gap: 22px;
        max-width: max-content;
        width: 100%;
        margin-bottom: 60px;

        h4 {
          font-size: 16px;
          margin-bottom: 2px;
          font-weight: bold;
          text-transform: uppercase;
        }

        a {
          font-style: normal;
          font-weight: 500;
          font-size: 1rem;
          line-height: 1.4;
          color: var(--grayColor);

          &:hover {
            color: var(--blueColor);
          }
        }
      }
    }
  }

  hr {
    color: var(--grayColor);
  }

  .copyright {
    text-align: center;
    padding-block: 32px;
    .title {
      font-weight: 400;
      font-size: 1rem;

      span {
        color: var(--greenColor);
        cursor: pointer;
      }
    }
  }
}
