#course__page {
  .page__title {
    margin-bottom: 24px;
  }
  .sidebar {
    min-width: 270px;
    &__cart {
      padding: 16px 24px;
      background-color: var(--lightGrayColor);
      border-radius: 10px;
      margin-bottom: 24px;
      &-item {
        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .rating {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        span {
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 500;
          font-size: 14px;
          color: var(--grayColor);

          svg {
            width: 16px;
            height: auto;
          }
        }

        h6 {
          font-weight: 500;
          font-size: 14px;
        }
      }

      button {
        margin-top: 20px;
        width: 100%;
        font-weight: 700;
        font-size: 1rem;
      }
    }

    &__lesson {
      &-title {
        margin-bottom: 16px;
      }

      &:last-child {
        margin-bottom: 24px;
      }

      &-item {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        gap: 6px;
        margin-bottom: 12px;
        font-weight: 500;
        font-size: 14px;
        line-height: 140%;
        color: var(--grayColor);

        svg {
          margin-top: 4px;
          max-width: 16px;
          width: 100%;
          height: auto;
        }
      }
    }
  }

  .content {
    width: 100%;
    &__video {
      border-radius: 25px;
      overflow: hidden;
      @media (max-width: 640px) {
        border-radius: 12px;
      }
      video {
        object-fit: contain;
      }

    }
    &__title {
      margin-block: 30px;
    }

    &__dics {
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      margin-bottom: 32px;
    }
  }
}
