form {
  label {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    color: var(--grayColor);
  }

  a {
    margin-top: 24px;
    width: 100%;
    padding: 15px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 100%;
    font-family: 'Cera Pro';
  }
}
