.create-course__content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;

  &-info {
    width: 100%;
  }

  &-container {
    background-color: var(--whiteColor);
    border-radius: 10px;
    box-shadow: var(--boxShadow);
    padding: 24px;

    > h5 {
      margin-bottom: 24px;
      font-style: normal;
      font-weight: 500;
      font-size: 1.125rem;
      line-height: 100%;
    }

    > p {
      font-style: normal;
      font-weight: 500;
      font-size: 12px;
      line-height: 100%;
      margin-bottom: 8px;
    }

    .course__lists {
      .list {
        &__header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 24px;
          background-color: var(--bgColor);
          padding: 12px 16px;
          border-radius: 8px;
          margin-bottom: 8px;

          .title {
            margin-right: auto;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 100%;
            color: var(--blueColor);
          }

          .delete {
            cursor: pointer;
          }
          .icon {
            cursor: grab;
          }
        }

        &__items {
          max-width: calc(100% - 50px);
          width: 100%;
          margin-left: auto;

          .item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            background-color: var(--bgColor);
            padding: 10px 16px;
            margin-bottom: 8px;
            border-radius: 8px;

            .icon {
              cursor: grab;
            }

            .title {
              margin-right: auto;
              font-weight: 500;
              font-size: 12px;
            }
          }

          .add-lesson {
            form {
              display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;
            }

            input {
              padding: 9px 16px;
            }

            button {
              padding: 10px 16px;
              font-weight: 500;
              font-size: 1rem;
            }
          }
          > button {
            padding: 4px 4px 4px 0;
            margin-block: 24px;
          }
        }
      }

      > button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        padding: 11px 16px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
      }
    }


  }

  &-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    max-width: 270px;
    width: 100%;
    border-radius: 10px;
    padding: 16px;
    box-shadow: var(--boxShadow);
    background-color: var(--whiteColor);

    button {
      width: 100%;
      margin-top: 24px;
    }
  }
}
