#stat__page {
  @media (max-width: 1023px) {
    background-color: var(--bgColor);
  }
  .stat {
    padding-bottom: 90px;
    background-color: var(--bgColor);
    padding: 32px;
    width: 100%;

    .breadcrumb {
      margin-bottom: 24px;
    }

    &__title {
      margin-bottom: 24px;
    }

    &__info {
      &-item {
        background-color: var(--whiteColor);
        width: 100%;
        border-radius: 10px;
        padding: 24px;
        box-shadow: var(--boxShadow);
        position: relative;
        overflow: hidden;

        svg {
          position: absolute;
          bottom: -20px;
          right: 10px;
        }

        p {
          font-weight: 500;
          font-size: 15px;
          line-height: 100%;
        }
      }
    }
  }
}
